
/* img{
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
img:hover{
    border-radius: 40px;
} */

.content{
    width:80%;
    /* height:70%; */
    background:#101e33;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 50px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}
.content h2{
    top: 4px;
    /* margin:10px 0; */
    /* padding: bottom 100px; */
    /* width:180px; */
}
.content-p{
    position: relative;
    margin-top: 15px;
}