.navbar{
    background-color: rgb(3, 3, 4);
    margin: 0;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    /* width: 25%;
    
    height :100%; */
    display: flex;
    /* position: sticky; */
    
}
.navbar-menu{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(16, 15, 15); */
    position: fixed;
    top: 0;
}
.navbar-item{
    padding: 6px;
    margin: 20px;
    display: block;
    text-decoration: none;
    color: antiquewhite;
    /* float: left; */

}
.navbar-item:hover{
    background-color: rgb(213, 205, 205);
    color:rgb(29, 157, 221);
    border-radius: 30%;
    transition: 0.3s ease;

}

.nav-li{
    display: inline;
    list-style: none;
    float: left;
    text-align: center;
    padding: 5px 14px;
}
.logotxt{
    font-family: cursive;
    font: bold;
    color: rgb(199, 18, 78);
    text-decoration: none;
    
}
.logotxt:link{ text-decoration: none; }
.logotxt:active:visited{ text-decoration: none; }
.logotxt:active:active { text-decoration: none; }
.logotxt:active:hover { text-decoration: none; }


input[type=checkbox]{
    display: none;
}
        
.hamburger { 
    display: none;
    font-size: 24px;   
    user-select: none;
    color: rgb(159, 21, 21);   
}

/* .navbar-item:hover:not(.active) {
    background-color: #111;
  } */
  
  /* .active {
    background-color: #04AA6D;
  } */
@media screen and (max-width: 800px) {
.navbar-menu{
    display: none;
    position: absolute;
    background-color: rgb(3, 3, 4);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0px;
    overflow: hidden;
}
.nav-li{
    text-align: center;
}
.nav-li:hover{
    display: inline-block;
    /* background-color: rgb(119, 119, 16); */
    text-align: center;
    transition: 0.3s ease;
}
.navbar-menu li + li {
    margin-top: 12px;
}
input[type=checkbox]:checked ~ .navbar-menu{
    display: block;   
}
.hamburger{
    display: block;
    /* color: rgb(232, 44, 44); */
}
}