<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-content">
    <!--add all information -->
    <h3>SEDS Pulchowk</h3>
    <p>उदेश्य के लिनु? उडी छुनु चन्द्र एक</p>
    <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
    <div class="footer-bottom">
        <!-- add all information -->

        <p>copyright &copy;2022 <a href="#">SEDSPulchowk</a>  </p>
        
    </div>
</div>
 
