  <section class="top-nav">
    <div>
      {# <a  id = "logotxt">SEDS <br> Pulchowk</a> #}
      <img id = "logo" src="/assets/_images/seds-pulchowk-logofull.png" alt="this logo" width=130px>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li class = "nav-li"><a href="/">Home</a></li>
      <li class = "nav-li"><a href="/project">Projects</a></li>
      <li class = "nav-li"><a href="/document">Documents</a></li>
      <li class = "nav-li"><a href="/contact">Contact</a></li>
      <li class = "nav-li"><a href="/about">About Us</a></li>
    </ul>
  </section>